{
  "TOKEN": "MTEzODUzNDU3NzA5MTEyMTE4Mg.GZuK1N.c2jC3ym384GyBb6I_h_JpDUNMFsJmA5lkqzbcE",
  "MAX_PLAYLIST_SIZE": 10,
  "PREFIX": "+",
  "PRUNING": false,
  "LOCALE": "en",
  "STAY_TIME": 30,
  "DEFAULT_VOLUME": 100
}
